body {
    background-color: #000;
    color: #fff;
}

.navbar {
    border-bottom: 2px solid #dc3545;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    color: #dc3545 !important;
}

.btn-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
}



.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: brightness(40%);
}
.carousel-caption {
    bottom: 30%;
}

.carousel-caption h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}

.carousel-caption p {
    font-size: 1.3rem;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px rgba(220, 53, 69, 0.5);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card {
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.badge {
    font-size: 0.8rem;
}
.accordion-button:not(.collapsed) {
    background-color: #dc3545;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: 1px solid #dc3545;
    margin-bottom: 10px;
}  